//
// Page navigation
//

.page-header {
  margin-bottom: 15px;
  @include mq($md) {
    background-color: transparentize($white, 0.1);
    left: 0;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.page-menu {
  ul {
    margin: 0;
    padding: 0;
    @include mq($ph) {
      align-content: stretch;
      align-items: center;
      display: flex;
      flex-flow: row no-wrap;
      justify-content: center;
    }
  }
  &--item {
    display: inline-block;
    font-family: $statement-font;
    @include mq($ph) {
      flex: 0 0 20%;
      text-align: center;
      max-width: 30%;
    }
    &.home-link {
      font-family: $statement-font;
      flex: 2 0 100%;
      width: 100%;
      @include mq($ph) {
        flex: 0 0 40%;
        order: 0;
        width: auto;
      }
      @include mq($md) {
        flex: 0 0 auto;
      }
      a {
        font-size: 2em;
        padding: .5em 0;
        @include mq($ph) {
          font-size: 1.5em;
          padding: .5em 1em;
          margin-left: auto;
          margin-right: auto;
          max-width: 8em;
        }
        @include mq($md) {
          padding: .5em 2em;
        }
      }
    }
    &.rsvp-link {
      @include mq($ph) {
        order: -1;
      }
    }
  }
  &--link {
    display: block;
    padding: .5em 1em;
    text-decoration: none;
    @include mq($md) {
      min-width: 7em;
    }
    @include mq($sl) {
      padding: .5em 2em;
    }
  }
}

//
// Sections
//

.page-container {
  margin: 0 auto;
  max-width: 1200px;
  @include mq($md) {
    padding-top: 120px;
  }
}

.page-section {
  margin-bottom: 40px;
}
.section-anchor {
  display: block;
  margin-top: -2px;
  padding-top: 2px;
  position: relative;
  z-index: -4;
  @include mq($md) {
    margin-top: -100px;
    padding-top: 100px;
  }
}
.top-link {
  display: block;
  font-size: .8em;
  margin-top: 1em;
  padding: 1em;
  text-align: right;
  @include mq($md) {
    display: none;
  }
}

// Intro
.welcome {
  // -webkit-animation-name: welcome;
  // -webkit-animation-duration: .9s;
  margin-bottom: 20px;
}
.intro {
  margin-bottom: 60px;
}

.page-title {
  font-family: $statement-font;
  font-size: 1.5em;
  font-weight: unset;
  line-height: 1.1;
  margin-left: auto;
  margin-right: auto;
  max-width: 8em;
  @include mq($ph) {
    font-size: 1.75em;
    max-width: 8.5em;
  }
  @include mq($md) {
    font-size: 2.25em;
    max-width: 100%;
  }
  @include mq($lg) {
    font-size: 3.25em;
    margin-bottom: 40px;
  }
  .name {
    display: block;
    font-size: 1.8em;
    &:first-of-type {
      text-align: left;
    }
    &:last-of-type {
      text-align: right;
    }
    @include mq($md) {
      font-size: 1.5em;
      display: inline;
    }
  }
}
.and {
  display: block;
  line-height: .65;
  margin-top: .45em;
  @include mq($md) {
    display: inline;
    line-height: inherit;
  }
}
.intro-picture {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  @include mq($ph) {
    width: 60%;
  }
}

.date {
  font-size: 1.5em;
  margin-bottom: .25em;
  text-transform: uppercase;
}
.time {
  // font-family: $serif;
  margin-top: 0;
}

.location {
  &--name {
    font-weight: 400;
    margin-bottom: 4px;
    margin-top: 0;
  }
}

.additional-info {
  text-align: left;
  @include mq($md) {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
  &--title {
    text-align: center;
  }
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

//
// Registry
//

.registry {
  &--items {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 20px;
    text-align: center;
  }
  &--item {
    margin: 0 20px 40px 20px;
  }
  &--link {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    img {
      margin: 0 auto;
    }
  }
}

// 
// Font styles
//

.bold {
  font-weight: 400;
}
