---
title: M&M's Wedding Website
---

a#page-top
.page-container
  header.page-header
    nav.page-menu
      ul
        li.page-menu--item.home-link
          == link_to "M&M's Wedding", "#page-top", class: "page-menu--link"
        li.page-menu--item.rsvp-link
          == link_to "RSVP", "#section-rsvp", class: "page-menu--link"
        li.page-menu--item.registry-link
          == link_to "Registries", "#section-registries", class: "page-menu--link"

  section.page-section
    .welcome
      .intro-picture
        == image_tag 'mm-pic-1.jpg'
      h1.page-title
        span.name Michael Wanberg
        |  & 
        span.name Marlene Williams
    .intro
      h2.date October 20, 2018 - 11am
      p.location.location--name
        == link_to "Southlake Church", "http://www.southlakechurch.com/"
      address.location 1555 SW Borland Road <br> West Linn, Oregon 97068

      h3.additional-info Additional info
      p Dress: Semi-Formal
      p Cell phones: For the sake of participants and other guests, we ask that cell phones be turned off during the ceremony.
      p Photos: No photos allowed during the ceremony. Our photographers will be handling it!

  section.page-section.page-section--rsvp
    a#section-rsvp.section-anchor
    h2.section-title RSVP
    p Coming soon
    == link_to "Back to top", "#page-top", class: "top-link"

  section.page-section.page-section--registries
    a#section-registries.section-anchor
    h2.section-title Registries
    .registry--items
      .registry--item
        == link_to image_tag('logo-cutco.svg'), "http://cutco.com/registry/554yj", class: "registry--link"
      .registry--item
        == link_to image_tag('logo-rei-co-op-logo-vector.png'), "https://www.rei.com/GiftRegistryDetails/15289984", class: "registry--link"
    p More coming soon
    == link_to "Back to top", "#page-top", class: "top-link"
